<%- include('header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book ? 'Edit Book' : 'Add New Book' %></title>
    <link rel="stylesheet" href="/css/add.css"> 
</head>
<body>
    <header class="new-book-header">
        <h1><%= book ? 'Edit Book' : 'Add New Book' %></h1>
    </header>
    <div class="new-book-content">
        <form action="<%= book ? `/edit-book/${book.id}` : '/new-book' %>" method="POST">
            <% if (book) { %> 
                <input type="hidden" name="id" value="<%= book.id %>">
            <% } %>
        <div>
            <div>
                <label for="title">Title:</label>
                <input type="text" class = "fields" id="title" name="title" value="<%= book ? book.title : '' %>" required>
            </div>
            <div>
                <label for="author">Author:</label>
                <input type="text" class = "fields" id="author" name="author" value="<%= book ? book.author : '' %>" required>
            </div>
            <div>
                <label for="isbn">ISBN:</label>
                <input type="text"  class = "fields" id="isbn" name="isbn" value="<%= book ? book.isbn : '' %>" required>
            </div>
            <div>
                <label for="rating">Rating (1-5):</label>
                <input type="number"  class = "fields" id="rating" name="rating" min="1" max="5" value="<%= book ? book.rating : '' %>" required>
            </div>
            <div>
                <label for="read_date">Read Date:</label>
                <input type="date"  class = "fields" id="read_date" name="read_date" value="<%= book ? book.read_date : '' %>" required>
            </div>
            <div>
                <label for="notes">Notes:</label>
                <textarea id="notes"  class = "fields" name="notes" rows="4" required><%= book ? book.notes : '' %></textarea>
            </div>
            <div class="button-container">
                <button type="submit" class="custom-btn">
                    <%= book ? 'Update Book' : 'Add Book' %>
                </button>
            </div>
            
        </form>
    </div>
</body>
</html>
