<%- include('header') %>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <h1>My Book Tracker</h1>
    <a href="/add-book" class="btn btn-primary">Add New Book</a>

    <script src="/scripts.js" defer></script> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(book => { %>
                <tr>
                    <td><img src="<%= book.cover_url %>" alt="Cover Image" style="width: 50px;"></td>
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <td><%= book.rating %> / 5</td>
                    <td>
                        <a href="/edit-book/<%= book.id %>" class="btn btn-warning">Edit</a>
                        <a href="/view-notes/<%= book.id %>" class="btn btn-info">View Notes</a>
                        <button class="btn btn-danger delete-book-button" data-book-id="<%= book.id %>">Delete</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
